# Dependencies
node_modules/
.pnp
.pnp.js
.pnpm-store/

# Local env files (Cubre cualquier .env en cualquier subcarpeta)
.env
.env.*
!.env.example

# Testing
coverage/

# Turbo
.turbo/

# Vercel / Next.js
.vercel/
.next/
out/

# Build Outputs & Cache
build/
dist/
*.tsbuildinfo

# Docker & Persistence volumes
*.log
docker-data/
.docker/

# IDEs & System files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/

# Keys & Certificates
*.pem
*.key