:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  .my-toast-container {
    bottom: 40px !important;
    max-width: 320px !important;
    left: auto !important;
  }
}
